
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(81, 137, 241);
        }
        .ques{
           
            color: white;
            font-size: 20px;
            text-align: center;
            display: inline;
        }
        .box{
            display: inline;
        }
        .area{
            padding-top:50px;
            margin: auto;
            width: 30%;
        }
        .footer{
            color: white;
            opacity: 50%;
            text-align: center;
        }
        button{
            color: black;
            background-color: white;
            padding:5px 20px;
            border-color: lightgreen;
            position: relative;
            left: 20px;

        }
        .raw .incoded{
            display: block;
        }
    </style>
</head>
